/*Header Section*/
header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border: medium solid black;
  align-items: center;
}
.logo {
  display: flex;
  color: MediumAquamarine;
  align-items: center;
}
.logo span {
  padding: 10px;
}
.navigation {
  display: flex;
  border: medium solid black;
  position: relative;
  left: 600px;
}
nav span {
  display: inline-block;
  border: medium solid black;
}
nav span a {
  color: black;
}

/*Main Section*/
article {
  border: medium solid black;
  display: flex;
}
p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.main.content {
  display: flex;
}
.column.large {
  display: flex;
  flex-direction: column;
  width: 630px;
  justify-content: flex-start;
}
.column.medium {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.column.small {
  display: flex;
  flex-direction: column;
  width: 240px;
}
.headline {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
#phish {
  background: url("resources/images/img-story-main.png");
  display: flex;
  font-size: 40px;
}
#backwards {
  background: url("resources/images/img-story-2.png");
  display: flex;
}
#cameras {
  background: url("resources/images/img-story-3.png");
  display: flex;
}
#cats {
  background: url("resources/images/img-story-1.png");
  display: flex;
}
